*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', helvetica, sans-serif}

a{
    text-decoration: none;
    color: inherit}

ul{
    list-style: none}

i{
    font-size: 0;
    display: block
}
p{
    letter-spacing: 0.01em;
    line-height: 1.2em;
}
input, button, textarea{
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit
}