@font-face {
    font-family: 'roboto';
    src: url('../../../assets/fonts/roboto-light/roboto-light.eot');
    src: url('../../../assets/fonts/roboto-light/roboto-light.eot?#iefix') format('embedded-opentype'),
         url('../../../assets/fonts/roboto-light/roboto-light.woff2') format('woff2'),
         url('../../../assets/fonts/roboto-light/roboto-light.woff') format('woff'),
         url('../../../assets/fonts/roboto-light/roboto-light.ttf') format('truetype'),
         url('../../../assets/fonts/roboto-light/roboto-light.svg#roboto') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../../../assets/fonts/roboto-regular/roboto-regular.eot');
    src: url('../../../assets/fonts/roboto-regular/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('../../../assets/fonts/roboto-regular/roboto-regular.woff2') format('woff2'),
         url('../../../assets/fonts/roboto-regular/roboto-regular.woff') format('woff'),
         url('../../../assets/fonts/roboto-regular/roboto-regular.ttf') format('truetype'),
         url('../../../assets/fonts/roboto-regular/roboto-regular.svg#roboto') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('../../../assets/fonts/roboto-bold/roboto-bold.eot');
    src: url('../../../assets/fonts/roboto-bold/roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('../../../assets/fonts/roboto-bold/roboto-bold.woff2') format('woff2'),
         url('../../../assets/fonts/roboto-bold/roboto-bold.woff') format('woff'),
         url('../../../assets/fonts/roboto-bold/roboto-bold.ttf') format('truetype'),
         url('../../../assets/fonts/roboto-bold/roboto-bold.svg#roboto') format('svg');
    font-weight: bold;
    font-style: normal;
}